@model ExamDotNetMVC.Models.AddQuestion

@{
    ViewBag.Title = "Delete";
}
<div class="container" style="box-shadow: 1px 1px 21px gray;padding: 15px;border-radius: 5px">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        
        <hr />
        <table class="table table-bordered table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Question)</th>
                <td>@Html.Raw(Model.Question)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.QLevel)</th>
                <td>@Html.DisplayFor(model => model.QLevel)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Marks)</th>
                <td> @Html.DisplayFor(model => model.Marks)</td>
            </tr>
        </table>      
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
